<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>


    <ul id="user-list">
        {users}
    </ul>

    <h3>Add User</h3>
    <p>An email will be sent to confirm your identity.</p>

    <form action="/users" method="POST">
        <label for="email_add_user">Email:</label>
        <input name="user_email" id="email_add_user" type="email" placeholder="example@email.com">
        <button type="submit">Submit</button>
    </form>

</body>

<script>
    
</script>

</html>